n8n-workflows/agent-notification-simple.json
{
  "name": "Agent Notification (ohne Mattermost)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-notification",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-agent",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "agent-notification"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://138.199.237.34:7000/agent/{{ $json.agentId }}",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "agent-request",
      "name": "Call Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"agent\": $json.agentId || \"unknown\", \"response\": $json.response || $json.message || \"No response\" } }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Call Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "1"
}

