n8n-workflows/chart-calculation-workflow.json
{
  "name": "Chart Calculation - Human Design",
  "nodes": [
    {
      "parameters": {
        "path": "chart-calculation",
        "options": {}
      },
      "id": "webhook-chart",
      "name": "Webhook - Chart Calculation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "chart-calculation"
    },
    {
      "parameters": {
        "jsCode": "// Input-Mapping: Konvertiert Webhook-Input ins Chart-Truth-Format\n// Kein Geocoding, keine Defaults, keine Korrekturen\n\nconst input = $input.item.json.body || $input.item.json || {};\n\n// Mapping ins verbindliche Input-Format\nreturn [{\n  json: {\n    birth_date: input.birthDate || input.birth_date,\n    birth_time: input.birthTime || input.birth_time,\n    latitude: Number(input.latitude),\n    longitude: Number(input.longitude),\n    timezone: input.timezone\n  }\n}];"
      },
      "id": "map-input",
      "name": "Map Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300],
      "notes": "Mappt Webhook-Input ins Chart-Truth-Format - keine Berechnung, nur Mapping"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL || 'http://localhost:3000' }}/api/chart/truth",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "call-chart-truth-api",
      "name": "Call Chart Truth API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300],
      "notes": "Ruft Chart-Truth-API auf - keine Human-Design-Logik in n8n"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-chart",
      "name": "Respond with Chart Data",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook - Chart Calculation": {
      "main": [
        [
          {
            "node": "Map Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Input": {
      "main": [
        [
          {
            "node": "Call Chart Truth API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Chart Truth API": {
      "main": [
        [
          {
            "node": "Respond with Chart Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-03T00:00:00.000Z",
  "versionId": "2"
}
