n8n-workflows/mattermost-reading-notification.json
{
  "name": "Notification → Mattermost",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reading-mattermost",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-reading",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "reading-mattermost"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MATTERMOST_WEBHOOK_URL }}",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { \"text\": $json.text || $json.message || ('## 🔮 Benachrichtigung\\n\\n' + ($json.reading || $json.readingId || JSON.stringify($json))), \"channel\": $json.channel || $env.MATTERMOST_CHANNEL || '#readings', \"username\": $json.username || 'n8n-Notification' } }}",
        "options": {}
      },
      "id": "mattermost",
      "name": "Send to Mattermost",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Notification sent to Mattermost\" } }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Send to Mattermost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Mattermost": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-03-04T00:00:00.000Z",
  "versionId": "2"
}
