n8n-workflows/multi-agent-pipeline.json
{
  "name": "Multi-Agent Content Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-pipeline",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "content-pipeline"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://138.199.237.34:7000/agent/marketing",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.body.topic ? 'Erstelle Marketing-Strategie für: ' + $json.body.topic : 'Erstelle Marketing-Strategie' }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "marketing-agent",
      "name": "Marketing Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://138.199.237.34:7000/agent/social-youtube",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ 'Erstelle Social Media Content basierend auf dieser Strategie: ' + $json.response }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "social-youtube-agent",
      "name": "Social-YouTube Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://138.199.237.34:7000/agent/automation",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "Erstelle n8n Workflow für automatische Content-Verteilung"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "automation-agent",
      "name": "Automation Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"marketing\": $('Marketing Agent').item.json, \"social\": $('Social-YouTube Agent').item.json, \"automation\": $('Automation Agent').item.json } }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Marketing Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marketing Agent": {
      "main": [
        [
          {
            "node": "Social-YouTube Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Social-YouTube Agent": {
      "main": [
        [
          {
            "node": "Automation Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Automation Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "1"
}

