n8n-workflows/reading-generation-workflow.json
{
  "name": "Reading Generation Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "webhook-reading",
      "name": "Reading Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "reading-generation",
      "settings": {
        "httpMethod": "POST",
        "path": "webhook/reading",
        "responseMode": "responseNode"
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-reading-id",
              "leftValue": "={{ $json.body.readingId || $json.readingId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-reading-id",
      "name": "Check Reading ID",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300],
      "notes": "Prüft ob readingId vorhanden ist - Workflow bricht ab wenn fehlt"
    },
    {
      "parameters": {
        "jsCode": "// Logging: readingId aus Webhook-Body extrahieren\nconst readingId = $input.item.json.body?.readingId || $input.item.json.readingId;\nconst readingType = $input.item.json.body?.readingType || $input.item.json.readingType || 'basic';\nconst chartData = $input.item.json.body?.chartData || $input.item.json.chartData || {};\n\nconsole.log(`[n8n Workflow] Reading Generation gestartet für readingId: ${readingId}`);\nconsole.log(`[n8n Workflow] readingType: ${readingType}`);\nconsole.log(`[n8n Workflow] chartData:`, JSON.stringify(chartData));\n\nreturn {\n  json: {\n    readingId: readingId,\n    readingType: readingType,\n    chartData: chartData,\n    body: $input.item.json.body || {}\n  }\n};"
      },
      "id": "log-start",
      "name": "Log Start",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300],
      "notes": "Logging: readingId extrahieren und loggen"
    },
    {
      "parameters": {
        "url": "={{ $env.CK_AGENT_URL || 'http://ck-agent:4000' }}/reading/generate",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "birthDate",
              "value": "={{ $json.chartData.birthDate || $json.body.chartData.birthDate }}"
            },
            {
              "name": "birthTime",
              "value": "={{ $json.chartData.birthTime || $json.body.chartData.birthTime }}"
            },
            {
              "name": "birthPlace",
              "value": "={{ $json.chartData.birthPlace || $json.body.chartData.birthPlace }}"
            },
            {
              "name": "readingType",
              "value": "={{ $json.readingType }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "call-reading-agent",
      "name": "Call Reading Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300],
      "notes": "Ruft CK-Agent auf Port 4000 auf"
    },
    {
      "parameters": {
        "jsCode": "// Logging: Reading-Ergebnis vorbereiten\nconst readingId = $input.item.json.readingId;\nconst reading = $input.item.json.reading || $input.item.json.reading?.text || $input.item.json.text || '';\nconst readingType = $input.item.json.readingType || 'basic';\nconst chartData = $input.item.json.chartData || $input.item.json.chartData || {};\nconst tokens = $input.item.json.tokens || 0;\n\nconsole.log(`[n8n Workflow] Reading generiert für readingId: ${readingId}`);\nconsole.log(`[n8n Workflow] Reading-Länge: ${reading.length} Zeichen`);\nconsole.log(`[n8n Workflow] Tokens: ${tokens}`);\n\n// Result JSON für reading_jobs.result vorbereiten (jsonb)\nconst resultJson = {\n  reading: reading,\n  readingType: readingType,\n  chartData: chartData,\n  tokens: tokens,\n  model: 'gpt-4',\n  timestamp: new Date().toISOString()\n};\n\nreturn {\n  json: {\n    readingId: readingId,\n    reading: reading,\n    readingType: readingType,\n    resultJson: resultJson\n  }\n};"
      },
      "id": "prepare-result",
      "name": "Prepare Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300],
      "notes": "Bereitet result JSON für reading_jobs vor"
    },
    {
      "parameters": {
        "jsCode": "// Logging vor Update\nconst readingId = $input.item.json.readingId;\nconst resultJson = $input.item.json.resultJson;\n\nconsole.log(`[n8n Workflow] Update reading_jobs für readingId: ${readingId}`);\nconsole.log(`[n8n Workflow] Result JSON:`, JSON.stringify(resultJson));\n\nreturn $input.all();"
      },
      "id": "log-before-update",
      "name": "Log Before Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300],
      "notes": "Logging vor reading_jobs Update"
    },
    {
      "parameters": {
        "operation": "update",
        "table": "reading_jobs",
        "updateKey": "id",
        "updateKeyValue": "={{ $json.readingId }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "completed",
            "result": "={{ $json.resultJson }}",
            "updated_at": "={{ $now.toISO() }}"
          }
        }
      },
      "id": "update-reading-job",
      "name": "Update Reading Job",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1450, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase API"
        }
      },
      "notes": "Updated reading_jobs mit Status 'completed' und result JSON"
    },
    {
      "parameters": {
        "jsCode": "// Logging nach Update\nconst readingId = $input.item.json.id || $input.item.json.readingId;\nconst status = $input.item.json.status;\n\nconsole.log(`[n8n Workflow] reading_jobs updated für readingId: ${readingId}`);\nconsole.log(`[n8n Workflow] Neuer Status: ${status}`);\n\nreturn $input.all();"
      },
      "id": "log-after-update",
      "name": "Log After Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 300],
      "notes": "Logging nach reading_jobs Update"
    },
    {
      "parameters": {
        "url": "={{ $env.FRONTEND_URL || 'https://www.the-connection-key.de' }}/api/notifications/reading",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "readingId",
              "value": "={{ $json.readingId }}"
            },
            {
              "name": "userId",
              "value": "={{ $json.body.userId }}"
            },
            {
              "name": "readingType",
              "value": "={{ $json.readingType || $json.body.readingType }}"
            },
            {
              "name": "status",
              "value": "completed"
            },
            {
              "name": "timestamp",
              "value": "={{ $now }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "notify-frontend",
      "name": "Notify Frontend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300],
      "notes": "Benachrichtigt Frontend über fertiges Reading"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, readingId: $json.readingId || $json.id, message: 'Reading erfolgreich generiert und reading_jobs updated' } }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2050, 300]
    }
  ],
  "connections": {
    "Reading Webhook": {
      "main": [
        [
          {
            "node": "Check Reading ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Reading ID": {
      "main": [
        [
          {
            "node": "Log Start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Start": {
      "main": [
        [
          {
            "node": "Call Reading Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Reading Agent": {
      "main": [
        [
          {
            "node": "Prepare Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Result": {
      "main": [
        [
          {
            "node": "Log Before Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Before Update": {
      "main": [
        [
          {
            "node": "Update Reading Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Reading Job": {
      "main": [
        [
          {
            "node": "Log After Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log After Update": {
      "main": [
        [
          {
            "node": "Notify Frontend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Frontend": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-13T18:00:00.000Z",
  "versionId": "1"
}

